package ${packageName}.domain.entity;

import com.aixbox.common.mybatis.core.dataobject.BaseDO;
import com.baomidou.mybatisplus.annotation.TableId;
import com.baomidou.mybatisplus.annotation.TableName;
import lombok.Data;
import lombok.EqualsAndHashCode;

/**
 * ${functionName}对象
 */
@TableName(value ="${tableName}")
@Data
@EqualsAndHashCode(callSuper = true)
public class ${ClassName} extends BaseDO {

    #foreach ($column in $columns)
        #if(!$table.isSuperColumn($column.javaField))
            /**
             * $column.columnComment
             */
            #if($column.isPk==1)
            @TableId(value = "$column.columnName")
            #end
            private $column.javaType $column.javaField;

        #end
    #end


}