package ${packageName}.domain.entity;

import com.aixbox.common.mybatis.core.dataobject.BaseDO;
import com.baomidou.mybatisplus.annotation.TableId;
import com.baomidou.mybatisplus.annotation.TableName;
import lombok.Data;
import lombok.EqualsAndHashCode;
#foreach ($import in $importList)
import ${import};
#end

/**
 * ${functionName}对象
 */
@TableName(value ="${tableName}")
@Data
@EqualsAndHashCode(callSuper = true)
public class ${ClassName} extends BaseDO {

#foreach ($column in $columns)
    #if(!$table.isSuperColumn($column.javaField))
    /**
    * $column.columnComment
    */
    #if($column.javaField=='delFlag')
    @TableLogic
    #end
    #if($column.javaField=='version')
    @Version
    #end
    #if($column.isPk==1)
    @TableId(value = "$column.columnName")
    #end
    private #if($column.javaType == 'Date')LocalDateTime#else${column.javaType}#end $column.javaField;

    #end
#end

}