package ${packageName}.domain.vo.request;


import com.aixbox.common.core.pojo.PageParam;
import lombok.Data;
import lombok.EqualsAndHashCode;
#foreach ($import in $importList)
import ${import};
#end

/**
 * ${functionName} 分页参数
 */
@Data
@EqualsAndHashCode(callSuper = true)
public class ${ClassName}PageReq extends PageParam {

    #foreach ($column in $columns)
        #if($column.query)
            /**
             * $column.columnComment
             */
            #if (${column.queryType} == "BETWEEN")##情况八，Between 的时候
            private ${column.javaType}[] $column.javaField;
            #else
            private $column.javaType $column.javaField;
            #end


        #end
    #end


}
