package ${packageName}.domain.vo.response;

import lombok.Data;
#foreach ($import in $importList)
import ${import};
#end

import java.time.LocalDateTime;

/**
 * ${functionName} 返回参数
 */
@Data
public class ${ClassName}RespVO {

#foreach ($column in $columns)
    #set($skipFields = ["updateTime", "creator", "updater", "deleted"])
    #set($isSkipField = $skipFields.contains($column.javaField))
    #if($isSkipField)
        ## 跳过这些字段
    #else
    /**
    * $column.columnComment
    */
    private #if($column.javaType == 'Date')LocalDateTime#else${column.javaType}#end $column.javaField;
    #end
#end


}
