package ${packageName}.domain.vo.response;

import lombok.Data;
import com.alibaba.excel.annotation.ExcelProperty;
import com.alibaba.excel.annotation.ExcelIgnoreUnannotated;

/**
 * ${functionName}返回参数
 */
@Data
@ExcelIgnoreUnannotated
public class ${ClassName}Resp {

    #foreach ($column in $columns)
        #if($column.list)
            /**
             * $column.columnComment
             */
            #set($parentheseIndex=$column.columnComment.indexOf("（"))
            #if($parentheseIndex != -1)
                #set($comment=$column.columnComment.substring(0, $parentheseIndex))
            #else
                #set($comment=$column.columnComment)
            #end
            #if(${column.dictType} && ${column.dictType} != '')
            @ExcelProperty(value = "${comment}", converter = ExcelDictConvert.class)
            @ExcelDictFormat(dictType = "${column.dictType}")
            #elseif($parentheseIndex != -1)
            @ExcelProperty(value = "${comment}", converter = ExcelDictConvert.class)
            @ExcelDictFormat(readConverterExp = "$column.readConverterExp()")
            #else
            @ExcelProperty(value = "${comment}")
            #end
            private $column.javaType $column.javaField;

            #if($column.htmlType == "imageUpload")
                /**
                 * ${column.columnComment}Url
                 */
                @Translation(type = TransConstant.OSS_ID_TO_URL, mapper = "${column.javaField}")
                private String ${column.javaField}Url;
            #end
        #end
    #end


}
