package ${packageName}.domain.vo.request;

import com.aixbox.demo.domain.entity.DemoTest;
import io.github.linpeilie.annotations.AutoMapper;
import lombok.Data;
#foreach ($import in $importList)
import ${import};
#end

/**
 * ${functionName}更新参数
 */
@Data
public class ${ClassName}UpdateReq {

    #foreach ($column in $columns)
        #if($column.edit)
            /**
             * $column.columnComment
             */
            #if($column.required)
                #if($column.javaType == 'String')
                @NotBlank(message = "$column.columnComment不能为空")
                #else
                @NotNull(message = "$column.columnComment不能为空")
                #end
            #end
        private $column.javaType $column.javaField;

        #end
    #end

}
