package ${packageName}.domain.vo.request;

import ${packageName}.domain.entity.${ClassName};
import com.aixbox.demo.domain.entity.TestDemo;
import io.github.linpeilie.annotations.AutoMapper;
import lombok.Data;
import org.wildfly.common.annotation.NotNull;
#foreach ($import in $importList)
import ${import};
#end


/**
 * ${functionName} 更新参数
 */
@Data
@AutoMapper(target = ${ClassName}.class)
public class ${ClassName}UpdateReqVO {

#foreach ($column in $columns)
    #set($skipFields = ["updateTime", "creator", "updater", "deleted", "createTime"])
    #set($isSkipField = $skipFields.contains($column.javaField))
    #if($isSkipField)
        ## 跳过这些字段
    #else
    /**
    * $column.columnComment
    */
    #if($column.isPk==1)
    @NotNull
    #end
    private #if($column.javaType == 'Date')LocalDateTime#else${column.javaType}#end $column.javaField;
    #end
#end

}
