package ${packageName}.service;

import com.aixbox.common.core.pojo.PageResult;
import ${packageName}.domain.entity.${ClassName};
import ${packageName}.domain.vo.request.${ClassName}PageReqVO;
import ${packageName}.domain.vo.request.${ClassName}SaveReqVO;
import ${packageName}.domain.vo.request.${ClassName}UpdateReqVO;

import java.util.List;

/**
* ${functionName} Service接口
*/
public interface ${ClassName}Service {

    /**
     * 新增${functionName}
     * @param addReqVO 新增参数
     * @return 新增数据id
     */
    Long add${ClassName}(${ClassName}SaveReqVO addReqVO);

    /**
     * 修改${functionName}
     * @param updateReqVO 修改参数
     * @return 是否成功
     */
    Boolean update${ClassName}(${ClassName}UpdateReqVO updateReqVO);

    /**
     * 删除${functionName}
     * @param ids 删除id数组
     * @return 是否成功
     */
    Boolean delete${ClassName}(List<Long> ids);

    /**
     * 获取${functionName}详细数据
     * @param id 数据id
     * @return ${functionName}对象
     */
    ${ClassName} get${ClassName}(Long id);

    /**
     * 分页查询${functionName}
     * @param pageReqVO 分页查询参数
     * @return ${functionName}分页对象
     */
    PageResult<${ClassName}> get${ClassName}Page(${ClassName}PageReqVO pageReqVO);
}
